<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= form_with scope: :money, url: money_index_path, local: true do |form| %>
 
  <p>
    <%= form.label :category1 %><br>
    <%= form.text_field :category1%>
  </p>
  
  <p>
    <%= form.label :total1 %><br>
    <%= form.text_field :total1%>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>